* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 65px;
  color: white;
  background-color: rgb(40, 40, 40);
}
header .logo {
  float: left;
  margin-left: 20px;
  line-height: 65px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
header .headlist {
  float: right;
  margin-right: 20px;
}
header .headlist a {
  line-height: 65px;
  padding: 20px;
  font-size: 20px;
  color: white;
}

main {
  width: 100%;
}
main .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .portfolio h1 {
  margin-top: 80px;
  font-size: 90px;
  letter-spacing: 5px;
}
main .portfolio span {
  padding-left: 10px;
  color: orange;
}
main .portfolio h2 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: lighter;
  color: grey;
}
main .portfolio h3 img {
  margin-top: 10px;
  width: 150px;
}
main .aboutme {
  margin-top: 50px;
  padding: 70px;
  background-color: rgb(240, 240, 240);
  color: black;
  text-align: center;
}
main .aboutme h1 {
  font-size: 25px;
  font-weight: bold;
}
main .aboutme p {
  margin-top: 20px;
  font-size: 20px;
}
main .project {
  margin-top: 70px;
  background-color: white;
  color: black;
  text-align: center;
}
main .project h1 {
  font-size: 25px;
  font-weight: bold;
}
main .project .icon {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 250px;
}
main .project .icon .icon1 img {
  width: 300px;
}
main .project .icon .icon1 p {
  margin-top: 20px;
  font-size: 20px;
}
main .project .icon .icon2 img {
  width: 300px;
}
main .project .icon .icon2 p {
  margin-top: 20px;
  font-size: 20px;
}
main .project .icon .icon3 img {
  width: 300px;
}
main .project .icon .icon3 p {
  margin-top: 20px;
  font-size: 20px;
}
main .contactme {
  margin-top: 70px;
  background-color: rgb(240, 240, 240);
  color: black;
  text-align: center;
}
main .contactme h1 {
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: 25px;
  font-weight: bold;
}
main .contactbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contactbox .emailbox {
  width: 500px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #dee7ec;
}
main .contactbox .messagebox {
  width: 500px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #dee7ec;
}
main .contactbox .submitbox {
  width: 250px;
  margin-bottom: 70px;
  padding: 10px;
  background-color: gold;
  border-radius: 10px;
}
main .contactbox .submitbox:hover {
  background-color: orange;
}

footer {
  width: 100%;
  height: 150px;
  color: white;
  background-color: darkgray;
}
footer .logo {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
footer .footlist {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
footer .footlist a {
  display: grid;
  padding: 7px;
  font-size: 20px;
  color: white;
}

@media all and (max-width: 1000px) {
  main .project .icon {
    column-gap: 100px;
  }
  main .project .icon .icon1 img {
    width: 250px;
  }
  main .project .icon .icon2 img {
    width: 250px;
  }
  main .project .icon .icon3 img {
    width: 250px;
  }
}
